body {
    background-image: url("images/background.jpg");
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

/* unvisited link */
a:link {
    color: ghostwhite;
}

/* visited link */
a:visited {
    color: ghostwhite;
}
